.menu {
	width: auto;
	text-align: center;
	margin-left: 30%;
}

.footer{
	margin-bottom: 30px;
	margin-left: 35%;
	
}
.principal{
	width: 600px;
	height: 650px;
	margin-left: 40%;
	margin-top: 5%;
}
.cabecalho{
	text-align: center;
	background-color: red;
	width: auto;
	height: 50px;
	
}
/*formatação da tabela de listagem de bens cadastrados */
.tabelaItens{
	margin-left: -200px;
	border: 1px solid;
	border-collapse: collapse;
}
.linhaPar{
	background-color: red;
}
.linhaImpar{
	background-color:rgb( 255,128,128);
}
.tbcabecalho{
	boder: 1px solid;
	background-color: red;
	padding: 5px;
	
	
}
.coluna{
	text-align: center;
	padding: 5px;
}