.menu {
	width: auto;
	text-align: center;
	margin-left: 30%;
}

.footer{
	margin-bottom: 30px;
	margin-left: 35%;
	
}
.principal{
	width: 600px;
	height: 650px;
	margin-left: 40%;
	margin-top: 5%;
}
.cabecalho{
	text-align: center;
	background-color: red;
	width: auto;
	height: 50px;
	
}